
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 style="display: flex; justify-content: center; font-size: 35px; font-weight: 400; color:red" class="mt-4">Đăng nhập với tài khoản Admin</h1>
            @*<ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Admin/DienThoais/Index">Khổng Quang Hà</a></li>
        </ol>*@
        <hr />
            <img style="height:auto" src="~/wwwroot/ANHDIENTHOAI/banner-iphone-12-mini-1200-140.gif" />
        </div>
    </main>
    
</div>